@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Style+Script&display=swap");
body,
nav,
main,
section,
div,
h1,
h3,
ul,
li,
input,
button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #e2d4c1;
}

body {
  position: absolute;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff9100;
}

nav,
main {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 80%;
  border: 1px #422704 solid;
}

main {
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section {
  padding: 0 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

h1,
h3 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 1rem;
  font-family: "Style Script", cursive;
}

h1 {
  margin-left: 1rem;
  font-size: 5rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-family: "Comic Neue", cursive;
}

ul {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  border: 3px #422704 solid;
  border-radius: 0.5rem;
  background-color: #fffaf4;
  -webkit-box-shadow: #422704 0.5rem 0.5rem;
          box-shadow: #422704 0.5rem 0.5rem;
  padding: 0.2rem;
}

ul li {
  padding-left: 1rem;
  background-color: #e2d4c1;
  border-radius: 0.5rem;
  border: 1px #422704 ridge;
  margin: 0.2rem 0;
}

ul li:nth-child(odd) {
  background: #ff9100;
}

input,
button {
  background-color: #ff9100;
  border-radius: 0.5rem;
  padding: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Style Script", cursive;
  color: #422704;
  font-weight: bolder;
}

input {
  margin-bottom: 1rem;
  padding: 0.2rem;
  background-color: #fffaf4;
  font-family: "Comic Neue", cursive;
}

button {
  -webkit-box-shadow: #422704 0.2rem 0.2rem;
          box-shadow: #422704 0.2rem 0.2rem;
}

#title-n-btn {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#score-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
}