@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Style+Script&display=swap');

$p-font: 'Comic Neue', cursive;
$h-font: 'Style Script', cursive;
$p-size: 1rem;
$h-size: 5 * $p-size;
$bg-color: rgb(255, 145, 0);
$bg-color-2: rgb(226, 212, 193);
$bg-color-3: rgb(255, 250, 244);
$p-color: rgb(66, 39, 4);
$h-color: rgb(236, 152, 33);

body,
nav,
main,
section,
div,
h1,
h3,
ul,
li,
input,
button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $bg-color-2;
}

body {
  position: absolute;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
}

nav,
main {
  flex-direction: row;
  position: relative;
  width: 80%;
  border: 1px $p-color solid;
}

main {
  height: 100%;
  align-items: flex-start;
  justify-content: space-around;
}

section {
  padding: 0 1rem;
  align-items: flex-start;
  width: 100%;
}

h1,
h3 {
  align-items: flex-start;
  padding-right: 1rem;
  font-family: $h-font;
}

h1 {
  margin-left: 1rem;
  font-size: $h-size;
}

h3 {
  font-size: $h-size / 2;
}

p {
  font-family: $p-font;
}

ul {
  align-items: flex-start;
  list-style: none;
  border: 3px $p-color solid;
  border-radius: 0.5rem;
  background-color: $bg-color-3;
  box-shadow: $p-color 0.5rem 0.5rem;
  padding: 0.2rem;

  li {
    padding-left: 1rem;
    background-color: $bg-color-2;
    border-radius: 0.5rem;
    border: 1px $p-color ridge;
    margin: 0.2rem 0;
  }

  li:nth-child(odd) {
    background: $bg-color;
  }
}

input,
button {
  background-color: $bg-color;
  border-radius: 0.5rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  font-family: $h-font;
  color: $p-color;
  font-weight: bolder;
}

input {
  margin-bottom: 1rem;
  padding: 0.2rem;
  background-color: $bg-color-3;
  font-family: $p-font;
}

button {
  box-shadow: $p-color 0.2rem 0.2rem;
}

#title-n-btn {
  flex-direction: row;
  align-items: center;
}

#score-btn {
  align-self: flex-end;
}
