$p-size: 1rem;
$h-size: 5 * $p-size;
$bg-color: white;
$bg-color-2: rgb(206, 206, 206);
$p-color: black;
$h-color: black;

body,
nav,
main,
section,
div,
h1,
h3,
ul,
li,
input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  height: 100%;
  justify-content: center;
  align-items: center;
}

nav,
main {
  flex-direction: row;
  position: relative;
  width: 80%;
  border: 1px $p-color solid;
}

main {
  height: 100%;
  align-items: flex-start;
  justify-content: space-around;
}

section {
  padding: 0 1rem;
  align-items: flex-start;
  width: auto;
}

h1,
h3 {
  align-items: flex-start;
  padding-right: 1rem;
}

h1 {
  margin-left: 1rem;
  font-size: $h-size;
}

h3 {
  font-size: $h-size / 2;
}

ul {
  align-items: flex-start;
  list-style: none;
  border: 1px $p-color solid;

  li {
    padding-left: 1rem;
  }

  li:nth-child(odd) { background: $bg-color-2; }
}

input {
  margin-bottom: 1rem;
}

#title-n-btn {
  flex-direction: row;
  align-items: center;
}

#score-btn {
  align-self: flex-end;
}
